.richarea
{
  .richarea-app
  {
    .richarea-editor {
      .modal.layout-settings
      {
        .image-editor
        {
          max-width: 320px;
          .cropit-preview:hover
          {
            cursor: move;
          }
          img
          {
            max-width: initial;
          }
        }
      }  
    }    
  }
}
